@font-face {
    font-family: logo-font;
    src: url("../../public/fonts/Billabong.ttf");
}

#form-area{
    display: grid;
    grid-template-columns: 1fr;
}

#logo-area{
    color : #66347F;
    text-align: start;
    font-family: logo-font;
    font-size: 3.7rem;
    margin-top: 2vh;
    padding: 2vh 1.5vw;
    span{
      color : #245953;
    }
  }

#chart-canvas{
    margin-top: 5vh;
}

#main-area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}